@charset "utf-8";
.container .footer table tr td div pre {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #3F492E;
	text-align: center;
	font-size:12px
}
